name: Wingo Data Scraper

on:
  schedule:
    - cron: '*/5 * * * *' # গিটহাব ফ্রি ভার্সনে সর্বনিম্ন ৫ মিনিট পর পর চালানো যায়
  workflow_dispatch: # ম্যানুয়ালি চালানোর জন্য

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python_version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Fetch Wingo Data
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add data.json
          git commit -m "Updated Wingo data: $(date)"
          git push
          
